Checks: 'modernize-*,readability-*,-readability-identifier-length,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,llvm-*,performance-*,-performance-avoid-endl'
HeaderFilterRegex: 'src/.*|include/.*'
